/.htaccess
/.htaccess.sample
/.png
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/RELEASE_NOTES.txt
/index.php.sample
/php.ini.sample
/var/
/js/
/errors/
/pkginfo/
/skin/
/api.php
/cron.php
/cron.sh
/error_log
/favicon.ico
/get.php
/index.php
/install.php
/mage
/media/
