<?xml version="1.0"?>
<config>
	<modules>
		<Dhl_Dhlshipment>
			<version>0.1.0</version>
		</Dhl_Dhlshipment>
	</modules>
	<frontend>
		<routers>
			<dhlshipment>
				<use>standard</use>
				<args>
					<module>Dhl_Dhlshipment</module>
					<frontName>dhlshipment</frontName>
				</args>
			</dhlshipment>
		</routers>
		<layout>
			<updates>
				<dhlshipment>
					<file>dhlshipment.xml</file>
				</dhlshipment>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<dhlshipment>
				<use>admin</use>
				<args>
					<module>Dhl_Dhlshipment</module>
					<frontName>dhlshipment</frontName>
				</args>
			</dhlshipment>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<dhlshipment>
					<file>dhlshipment.xml</file>
				</dhlshipment>
			</updates>
		</layout>
	</adminhtml>  
	<global>
		<models>
			<dhlshipment>
				<class>Dhl_Dhlshipment_Model</class>
				<resourceModel>dhlshipment_mysql4</resourceModel>
			</dhlshipment>
			<dhlshipment_mysql4>
				<class>Dhl_Dhlshipment_Model_Mysql4</class>
				<entities>
					<dhlshipment>
						<table>dhlshipment</table>
					</dhlshipment>
				</entities>
			</dhlshipment_mysql4>
		</models>
		<events>
			<sales_order_place_after>
				<observers>
					<dhl_dhlshipment_order_observer>
						<type>singleton</type>
						<class>Dhl_Dhlshipment_Model_Order_Observer</class>
						<method>export_new_order</method>
					</dhl_dhlshipment_order_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_creditmemo_refund>
				<observers>
					<dhl_dhlshipment_order_observer>
						<type>singleton</type>
						<class>Dhl_Dhlshipment_Model_Order_Observer</class>
						<method>return_order</method>
					</dhl_dhlshipment_order_observer>
				</observers>
			</sales_order_creditmemo_refund>
		</events>
		<resources>
			<dhlshipment_setup>
				<setup>
					<module>Dhl_Dhlshipment</module>
					<class>Dhl_Dhlshipment_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</dhlshipment_setup>
			<dhlshipment_write>
				<connection>
					<use>core_write</use>
				</connection>
			</dhlshipment_write>
			<dhlshipment_read>
				<connection>
					<use>core_read</use>
				</connection>
			</dhlshipment_read>
		</resources>
		<blocks>
			<dhlshipment>
				<class>Dhl_Dhlshipment_Block</class>
			</dhlshipment>
			<sales>
				<rewrite>
					<order_history>Dhl_Dhlshipment_Block_Sales_Order_History</order_history>
				</rewrite>
			</sales>
		</blocks>
		<helpers>
			<dhlshipment>
				<class>Dhl_Dhlshipment_Helper</class>
			</dhlshipment>
		</helpers>
	</global>
	<default>
		<carriers>
			<dhlshipment>
				<active>0</active>
				<sallowspecific>0</sallowspecific>
				<model>dhlshipment/carrier_dhlshipment</model>
				<name>Dhlshipment</name>
				<title>Dhlshipment</title>
				<type>I</type>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
				<infotext></infotext>
				<handling_type>F</handling_type>
				<global_product_code>P</global_product_code>
				
				<!--				pickup-->
				<account_type>D</account_type>
				<phone_extention>5053</phone_extention>
				<location_type>B</location_type>
				<ready_by_time>10:20</ready_by_time>
				<close_time>14:20</close_time>
				<after_hours_closing_time>16:20</after_hours_closing_time>
				<after_hours_location>String</after_hours_location>
				<pickup_contact_name>Subhayu</pickup_contact_name>
				<pickup_contact_phone>4801313131</pickup_contact_phone>
				<pickup_contact_phone_extention>5768</pickup_contact_phone_extention>
				<door_to>DD</door_to>
				<pdf_email_subject>Order #{order_id}</pdf_email_subject>
				<pdf_email_from>from@domain.com</pdf_email_from>
				<pdf_email_body>Write your email body</pdf_email_body>
				<gateway_url>https://xmlpi-ea.dhl.com/XMLShippingServlet</gateway_url>
				<id>APMediaM9</id>
				<password>apwoEM27X</password>
				<payment_account_number>540293320</payment_account_number>
				<inbound>967080215</inbound>
				<payment_country>ID</payment_country>
				<ready_time_gmt>+08:00</ready_time_gmt>
				<weight_unit>KG</weight_unit>
				<dimension_unit>CM</dimension_unit>
				<network_type_code>AL</network_type_code>
				<duitable_flag>Y</duitable_flag>
				<dutiable_currency>IDR</dutiable_currency>
				<handling_fee>10</handling_fee>
				
			</dhlshipment>
		</carriers>
	</default>
</config>
